*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-y: overlay;
}
/* Remove search box input x button  */
input[type="search"]::-webkit-search-cancel-button {
    display: none; 
}

/* Scrollbar  */
::-webkit-scrollbar {
    width: 0.8rem;
    display: none;
  }
  
body{
    font-family: 'Trebuchet MS',sans-serif;
    background-color: #fdfdfd;
    width: 100vw;
    color: #333333;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 5rem;
    position: sticky;
    top: 0;
    background-color: #fdfdfd;
    max-width: 100vw;
}
.contain{
    margin: 0 auto;
    width: clamp(65rem, 80vw, 90rem);
    padding-inline: 2rem;
    
}
nav {
    display: flex;
}
nav a, nav button{
    all: unset;
    font-size: clamp(1rem, 1vw, 1.3rem);
    padding: 0.3rem 1.2rem 0.5rem;
    background-color: #fdfdfd;
    border-radius: 0.5rem;
    margin-left: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: background-color 0.1s linear;
}
nav a:hover, nav button:hover{
    background-color: #ffffff;
}
main{
    max-width: clamp(65rem, 80vw, 90rem);
    margin: 0 auto;
    padding-inline: 2rem;
}
img{
    max-width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    object-fit: cover;
}
.blog{
    margin-bottom: 5rem;
    border-radius: 1rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.left,.right{
    border-radius: 1.6rem;
}
.right{
    padding: 1rem;
}
.title{
    font-size: clamp(1.6rem, 3.2vw, 3rem);
    line-height: 1.2;
    cursor: pointer;
}
.intro.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    overflow: hidden;
  }
.time-stamp{
   font-size: 1rem; 
   color: #ababab;
}
.time-stamp em{
    font-weight: bold;
    color: #333333;
}
p{
  font-size: clamp(0.8rem, 2.8vw, 1.4rem);
}
.text,.tags{
    margin-bottom: 1.2rem;
}
.author{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}
.author span{
    display: none;
}
.author-info{
    display: flex;
    align-items: center;
}
.author span{
    color: #b9b9b9;
}
.posted-at{
    display: flex;
    justify-content: flex-end;
}

.tags a{
    margin-right: 1rem;
    text-decoration: none;
    background-color: #ffebeb;
    color: #333333;
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
}
i {
    font-size: 1.2rem;
    color: #ababab;
}
input:focus ~ i,input:valid ~ i{
 font-size: 1rem;
 transform: translateY(-0.75rem);
}
.links a:first-child {
    color: #333333;
}
.links a:last-child {
    color: #410FF8;
}
.profile-picture {
    height: 15rem;
    width: 15rem;
    border-radius: 10rem;
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
}
.profile-picture::before {
  position: absolute;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  content: "Select Picture";
  height: 100%;
  width: 100%;
  background: rgba(237, 5, 164, 0.5);
  display: grid;
  place-content: center;
  border-radius: 10rem;
  opacity: 0;
  transition: 0.3s;
}
.profile-picture:hover.profile-picture::before{
    opacity: 1;
}
.radio-span::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 0.8rem;
    width: 0.8rem;
    background-color: gray;
    transition: 0.2s ease-in-out 0s;
}
input[type='radio']:checked ~ .radio-span::before{
    transform: translate(-50%, -50%) scale(1);
}
.editBtn{
    opacity: 0;
    font-size: 1.6rem;
    color: #410ff8;
    background-color: #e6e0ff;
    padding: 0.3rem 0.5rem ;
    border-radius: 0.4rem;

}
.field-value:hover .editBtn{
    opacity: 1;
}
.disable-btn:disabled{
    background-color: #dbdbdb;
    color: #aea7a7;
    cursor: not-allowed;
}
.disable-btn{
    background-color: #e6e0ff;
    color: #410ff8;
    cursor: pointer;
}

@media screen and (width > 40rem) {
  .blog{
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.8fr 1.2fr;
    height: max-content;
    margin-bottom: 3rem;
  }
  .blog .right{
    height: max-content;
  }
  .author{
    grid-template-rows: 1fr;
  }

  .blog .left img{
    height: 100%;
    object-fit: cover;
  }
  .intro.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
  }
  .text a{
    display: flex;
}
.author{
    display: grid;
    grid-template-columns: 2fr 0.1fr 2fr;
    align-items: center;
    justify-content: space-between;
}
.author span{
    display: flex;
}

}