.toast{
    position: absolute;
    top: 0;
    right: 0;
    height: 8rem;
    min-width: 28rem;
    border-radius: 0.5rem;
    overflow-x: hidden;
    transform: translateX(150%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 100;
}
.toast.error{
    background-color: #fff8f8;
}
.toast.success{
    background-color: #edf9ed;
}
.toast-container::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0.3rem;
    left: 0;
    z-index: 200;
}
.toast-container.success::before{
    background-color: green;
}
.toast-container.error::before{
    background-color: red;
}
.toast.active{
    transform: translateX(0%);
}
.toast-container{
    position: relative;
    display: flex;
    min-width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    align-items: center;
    padding-left: 2rem;
}
.status-icon{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 1.8rem;
    margin-right: 3rem;
}
.toast-title-msg {
    height: 75%;
}
.status-icon.success{
    background-color: #a9e3a9;
    color: green;
}
.status-icon.error{
    background-color: #f6a1a1;
    color: red;
}
.toast-title-msg h4{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: rgb(0, 84, 0);
    text-transform: capitalize;
}
.close-icon{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1.7rem;
    width: 1.7rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: #f0ecec;
    font-size: 1.3rem;
}
.progress{
    position: absolute;
    bottom: 0;
    right: 0%;
    min-width: 100%;
    height: 0.3rem;
    /* background-color: #ffffff; */
}
.progress::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0%;
    min-width: 100%;
    height: 0.3rem;
    
}
.progress.success::after{
  background-color: green;
}
.progress.error::after{
  background-color: red;
}
.progress.active::after{
    animation: progress 3s linear forwards;  
}
.progress.active.error::after{
    background-color: #ff0000;
}
@keyframes progress {
    100%{
        right: 100%;
    }
}

